.article_wrap{
    width: 900px;
    margin: 25px auto;
}

.article {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
    font-size: 14px !important;
}


.article .image-div {
    font-family: 'Roboto', sans-serif;
    float: right;
    text-align: center;
    color: #888;
    margin: 24px 0 10px;
    padding: 0 20px;
    font-size: 0.75em;
}

.article .image-div img {
    display: block;
}