<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/production.css}">
    <link rel="stylesheet" th:href="@{/style/footer.css}">
    <link rel="icon" th:href="@{/Icons/fav/0.gif}">
    <link rel="shortcut icon" th:href="@{/Icons/fav/0.gif}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Dancing+Script:wght@400;500;600;700&amp;family=Inspiration&amp;family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>CakeStudio</title>
    <script th:src="@{/JS/circletype.min.js}" preload></script>
    <script defer th:src="@{/JS/header.js}"></script>
    <script defer th:src="@{/JS/production.js}"></script>
    <script defer th:src="@{/JS/update_page.js}"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  </head>
  <body>
  <header>
    <div class="header_wrapper">
      <div class="header_logo"><img th:src="@{/Logo/Photographer-Arranging.svg}" alt="Logo"><a href="/" id="logo_text">Cake of your dreams</a></div>
      <div class="header_menu">
        <div class="header_menu_category">
          <ul>
            <li><a th:href="@{/news}">новости</a></li>
            <li><a th:href="@{/production}">продукция</a></li>
            <li><a th:href="@{/o_nas}">о нас</a></li>
          </ul>
        </div>
      </div>
      <div class="auth_wrapper">
        <div class="dropdown">
          <lord-icon class="dropdown-toggle" src="https://cdn.lordicon.com/ajkxzzfb.json" trigger="morph" colors="primary:#ffc738,secondary:#4bb3fd" state="morph-group" style="width:40px;height:40px"></lord-icon>
          <div class="dropdown-content">
            <div class="dropdown-content-wrapper">
              <div class="dropdown-content-item" th:if="${is_auth==false || is_auth==null}"><a class="sign-in" th:href="@{/login}">Войти</a><a class="join-in" th:href="@{/registration}">Регистрация</a></div>
              <div class="dropdown-content-item" th:if="${is_auth==true}"><a class="sign-in" th:text="${auth_name}"></a></div>
              <div class="dropdown-content-item"><img class="close-icon" th:src="@{/Icons/close.png}" alt="close"></div>
            </div>
            <div class="dropdown-content-wrapper_info">
              <div class="dropdown-content-wrapper_info_all"><img class="hover_img" th:src="@{/Icons/my_account_WB.png}" alt="My Account"><a class="hover_text" th:href="@{/my_account}" target="_blank">мой аккаунт</a></div>
            </div>
            <div class="dropdown-content-wrapper_info">
              <div class="dropdown-content-wrapper_info_all"><img class="hover_img" th:src="@{/Icons/wedding_cake.png}" alt="My Orders"><a class="hover_text" th:href="@{/my_orders}" target="_blank">мои заказы</a></div>
            </div>
            <div class="dropdown-content-wrapper_info">
              <div class="dropdown-content-wrapper_info_all"><img class="hover_img" th:src="@{/Icons/credit-card.png}" alt="Payment"><a class="hover_text" th:href="@{/payment_method}" target="_blank">Оплата</a></div>
            </div>
            <div class="dropdown-content-wrapper_info">
              <div class="dropdown-content-wrapper_info_all"><img class="hover_img" th:src="@{/Icons/sms.png}" alt="Contact Preferences"><a class="hover_text" th:href="@{/contact_preferences}" target="_blank">Контакты</a></div>
            </div>
          </div>
        </div>
        <div class="drop">
          <lord-icon class="drop-toggle" src="https://cdn.lordicon.com/lpddubrl.json" trigger="hover" style="width:40px;height:40px" th:onclick="|window.location.href='/to-basket'|"></lord-icon>
          <span class="circle_basket_counter" th:if="${not #lists.isEmpty(cart_item)}" th:text="${cart_item.size()}"></span>
          <div class="drop-content" th:if="${not #lists.isEmpty(cart_item)}">
            <div class="drop_wrap_st">
              <div class="drop_wrap_title">
                <p>Моя корзина,</p><span th:text="${cart_item.size()}+' шт'"></span>
              </div>
              <div class="drop_wrap_icon"><img class="close-ico" th:src="@{/Icons/close.png}" alt="close"></div>
            </div>
            <div class="drop_wrap_nd">
              <th:block th:each="item: ${cart_item}">
                <div style="display:flex; flex-direction:row;margin:0px 0px 10px 0px;padding-right:10px;">
                  <div class="purchase_img_wrap"><img th:src="@{${item.getProduct().getImage()}}" th:alt="${item.getProduct().getName()}"></div>
                  <div class="purchase_text_wrap">
                    <p th:text="'₽ '+${item.getProduct().getPrice()}"></p>
                    <p th:text="${item.getProduct().getName()}"></p>
                    <p class="item_description"><a th:href="@{'/item/'+${item.getProduct().getId()}}" th:text="${item.getProduct().getDescription()}" style="all:unset;cursor:default;"></a></p>
                    <p>Количество:<span th:text="${item.getQuantity()}"></span></p>
                    <div class="purchase_icon_wrap">
                      <a th:href="@{'/basket/delete?productId='+${item.getProduct().getId()}}"><lord-icon class="trash_icon" src="https://cdn.lordicon.com/jmkrnisz.json" trigger="hover" colors="primary:#c71f16" state="hover-empty" style="width:20px;height:20px">
                      </lord-icon></a>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
            <div class="drop_wrap_rd">
              <div class="sub_total_wrap"><span class="sub_total_wrap_title">Итого</span><span class="sub_total_wrap_price" th:text="'₽ '+ ${total_price}"></span></div>
            </div>
            <div class="drop_wrap_th">
              <p class="button_view_bag"><a th:href="@{/to-basket}">В корзину</a></p>
              <p class="button_checkout_bag"><a th:href="@{/order/proverka}">Оформить</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="search">
      <div class="search_wrap">
        <form action="/production/search/" method="get">
          <input name="Search" placeholder="Найти товары.." type="text">
          <button type="submit"></button>
        </form>
        <div class="popup" onclick="myPopUp()">
          <p>Каталог товаров</p>
        </div>
      </div>
      <div class="popupdiv" id="myPopup">
        <div class="popup_wrap">
          <div class="popup_card"><a href="/production/9">Десерты</a></div>
          <div class="popup_card"><a href="/production/3">Праздничные</a></div>
          <div class="popup_card"><a href="/production/4">Креативные</a></div>
          <div class="popup_card"><a href="/production/6">Свадебные</a></div>
          <div class="popup_card"><a href="/production/10">Ягодные</a></div>
          <div class="popup_card"><a href="/production/11">Другие торты</a></div>
        </div>
      </div>
    </div>
    <div class="filter">
      <div class="filter_wrap">
        <div class="filter_positon_wrap"><a class="filter_position_one" href="#"></a><a class="filter_position_two" href="#"></a><a class="filter_position_three" href="#"></a></div>
        <div class="filter_attr_wrap">
          <div class="filter_attr_img"><img th:src="@{/Icons/filter.png}" alt="Filter"></div>
          <ul>
            <li>
              <p class="first_item first_item_rotate">Хиты продаж</p>
            </li>
            <ul class="dropdown_attr">
              <li>
                <a th:href="@{'/production/sort/'+ ${card[0].productCategory.id} + '?sort=name_sort'}">Название</a>
              </li>
              <li>
                <a th:href="@{'/production/sort/'+ ${card[0].productCategory.id} + '?sort=price_sort'}">Цена</a>
              </li>
              <li>
                <a th:href="@{'/production/sort/'+ ${card[0].productCategory.id} + '?sort=hits_sort'}">Хиты продаж</a>
              </li>
              <li>
                <a th:href="@{'/production/sort/'+ ${card[0].productCategory.id} + '?sort=customers_marks_sort'}">Оценка покупателей</a>
              </li>
              <li>
                <a th:href="@{'/production/sort/'+ ${card[0].productCategory.id} + '?sort=date_sort'}">Дата добавления</a>
              </li>
              <li>
                <a th:href="@{'/production/sort/'+ ${card[0].productCategory.id} + '?sort=available_sort'}">В наличии</a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="production">
      <div class="production_wrap">
        <div class="production_card" th:if="${not #lists.isEmpty(card)}" th:each="item : ${card}">
          <div class="production_card_img" th:onclick="|window.location.href='/item/${item.id}'|"><img th:src="@{${item.image}}" th:alt="${item.name}"></div>
          <div class="production_card_title">
            <p th:text="${item.name}"></p>
          </div>
          <div class="production_card_price">
            <p class="pr" th:text="${item.price}"></p>
          </div>
          <div class="production_card_wrap_img">
            <div class="production_card_basket"><a th:href="@{'/basket/add?productId='+${item.id}}">
                <lord-icon src="https://cdn.lordicon.com/cllunfud.json" trigger="hover" style="width:32px;height:32px"></lord-icon></a></div>
            <div class="production_card_heart"><a th:href="@{'/saved_items/add?productId='+${item.id}}">
                <lord-icon src="https://cdn.lordicon.com/iwaotjbp.json" trigger="hover" style="width:32px;height:32px"></lord-icon></a></div>
          </div>
      </div>
        <div th:if="${#lists.isEmpty(card)}">
          <p th:text="${message}"></p>
        </div>
    </div>
      <div class="footer">
        <div class="footer_wrap">
          <div class="footer_card">
            <div class="footer_card_title">
              <h5>Компания</h5>
            </div>
            <div class="footer_card_link"><a th:href="@{/news}">Новости</a><a th:href="@{/}">Отзывы</a><a th:href="@{/contacts}">Контакты</a><a th:href="@{/credentials}">Реквизиты</a></div>
          </div>
          <div class="footer_card">
            <div class="footer_card_title">
              <h5>Информация</h5>
            </div>
            <div class="footer_card_link"><a th:href="@{/produce}">Производтства</a><a th:href="@{/delivery_and_pay}">Оплата</a><a th:href="@{/licenses_detail}">Политика</a></div>
          </div>
          <div class="footer_card">
            <div class="footer_card_title">
              <h5>Помощь</h5>
            </div>
            <div class="footer_card_link"><a th:href="@{/payment_conditions}">Условия оплаты</a><a th:href="@{/delivery_and_pay}">Условия доставки</a></div>
          </div>
        </div>
        <div class="footer_social_wrap">
          <hr><a class="img_one" href="https://vk.com"></a><a class="img_two" href="https://youtube.com"></a><a class="img_three" href="https://tiktok.com"></a>
          <hr>
        </div>
        <div class="footer_copyright">
          <p>2023 © Powered by Khasan Abdurakhmanov</p>
          <div class="payment">
            <div class="payment_one"></div>
            <div class="payment_two"></div>
            <div class="payment_three"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function closePopUp() {
    	var popup = document.querySelector('.popupdiv');
    	popup.classList.remove('show');
    }
    
    document.addEventListener('click', function(event) {
    	var popup = document.getElementById('myPopup');
    		if (event.target.closest('.popup') === null && popup.classList.contains('show')) {
    		popup.classList.remove('show');
    	}
    });
    
    function myPopUp() {
    	var popupdiv = document.querySelector('.popupdiv');
    	popupdiv.classList.toggle('show');
    	setTimeout(closePopUp, 30000); // 5000 миллисекунд = 5 секунд
    }
    
    const dropdown_attr = document.querySelector('.dropdown_attr');
    const first_item = document.querySelector('.first_item');
    
    first_item.addEventListener('click', () => {
    	first_item.classList.toggle('first_item_rotate');
    	dropdown_attr.classList.toggle('active');
    });

    let priceStrings = document.querySelectorAll('.pr');

    priceStrings.forEach(pr => {
      // Сохраняем текстовое содержимое элемента в переменной
      const originalText = pr.textContent;
      const price = Number(pr.textContent);
      const formattedPrice = numeral(price).format('0,0.00');
      // Заменяем только часть содержимого элемента, содержащую цену
      pr.innerHTML = formattedPrice;
    });
  </script>
</html>