.footer
			.footer_wrap
				.footer_card
					.footer_card_title
						h5 Компания
					.footer_card_link
						a(href='./news.html') Новости
						a(href='./index.html#reviews') Отзывы
						a(href='./contacts.html') Контакты
						a(href='./credentials.html') Реквизиты
				.footer_card
					.footer_card_title
						h5 Информация
					.footer_card_link
						a(href='./produce.html') Производтства
						a(href='./delivery_and_pay.html#anchor') Оплата
						a(href='./licenses_detail.html') Политика
				.footer_card
					.footer_card_title
						h5 Помощь
					.footer_card_link
						a(href='./payment_conditions.html') Условия оплаты
						a(href='./delivery_and_pay.html') Условия доставки
			.footer_social_wrap
				hr
				a.img_one(href='https://vk.com')
				a.img_two(href='https://youtube.com')
				a.img_three(href='https://tiktok.com')
				hr
			.footer_copyright
				p 2023 © Powered by Khasan Abdurakhmanov
				.payment
					.payment_one
					.payment_two
					.payment_three
