.advantages
			.advantages_wrap
				.advantage_card
					.advantage_card_img
						img(src="./Icons/support.png", alt="support")
					.advantage_card_title
						h4 Честные цены на торт
					.advantage_card_descr
						p Оформление, декор и фигурки уже включены в цену торта.
				.advantage_card
					.advantage_card_img
						img(src="./Icons/fast-delivery.png", alt="fast-delivery")
					.advantage_card_title
						h4 Быстрая доставка торта
					.advantage_card_descr
						p Доставим ваш торт от 2 часов после оформления заказа.
				.advantage_card
					.advantage_card_img
						img(src="./Icons/gift.png", alt="gift")
					.advantage_card_title
						h4 Бонусы за покупки
					.advantage_card_descr
						p Дарим подарки и скидки до 20% на каждый торт.
				.advantage_card
					.advantage_card_img
						img(src="./Icons/guarantee.png", alt="guarantee")
					.advantage_card_title
						h4 Гарантия качества
					.advantage_card_descr
						p Сертифицированная кондитерская в каждом городе.