.production
			.production_title
				h3 Хиты продаж
			.slick-slider
				.slick-slide
						.production_card_img
							img(src="./Images/power_off.png", alt="Power Off")
						.production_card_title
							p Сил моих нет
						.production_card_price
							p 1 990 ₽
						.production_card_wrap_img
							.production_card_basket
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/cllunfud.json' trigger='hover' style='width:32px;height:32px')
							.production_card_heart
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/iwaotjbp.json' trigger='hover' style='width:32px;height:32px')
				.slick-slide
						.production_card_img
							img(src="./Images/18-cake.png", alt="18-cake")
						.production_card_title
							p Сколько тебе
						.production_card_price
							p 1 790 ₽
						.production_card_wrap_img
							.production_card_basket
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/cllunfud.json' trigger='hover' style='width:32px;height:32px')
							.production_card_heart
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/iwaotjbp.json' trigger='hover' style='width:32px;height:32px')
				.slick-slide
						.production_card_img
							img(src="./Images/all to me.png", alt="all to me")
						.production_card_title
							p Все себе
						.production_card_price
							p 1 690 ₽
						.production_card_wrap_img
							.production_card_basket
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/cllunfud.json' trigger='hover' style='width:32px;height:32px')
							.production_card_heart
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/iwaotjbp.json' trigger='hover' style='width:32px;height:32px')
				.slick-slide
						.production_card_img
							img(src="./Images/34-years.png", alt="34-years")
						.production_card_title
							p Торт с выдержкой
						.production_card_price
							p 1 990 ₽
						.production_card_wrap_img
							.production_card_basket
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/cllunfud.json' trigger='hover' style='width:32px;height:32px')
							.production_card_heart
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/iwaotjbp.json' trigger='hover' style='width:32px;height:32px')
				.slick-slide
						.production_card_img
							img(src="./Images/woman in dress.png", alt="woman in dress")
						.production_card_title
							p Дама в платье
						.production_card_price
							p 2 090 ₽
						.production_card_wrap_img
							.production_card_basket
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/cllunfud.json' trigger='hover' style='width:32px;height:32px')
							.production_card_heart
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/iwaotjbp.json' trigger='hover' style='width:32px;height:32px')
				.slick-slide
						.production_card_img
							img(src="./Images/raspberry girl.png", alt="raspberry girl")
						.production_card_title
							p Дама в малине
						.production_card_price
							p 2 490 ₽
						.production_card_wrap_img
							.production_card_basket
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/cllunfud.json' trigger='hover' style='width:32px;height:32px')
							.production_card_heart
								a(href='#')
									lord-icon(src='https://cdn.lordicon.com/iwaotjbp.json' trigger='hover' style='width:32px;height:32px')
