.video_lesson
	.video_lesson_wrap
		.video_lesson_title
			p Процесс
		.video_lesson_content
			.video_lesson_video
				video(autoplay='' loop muted)
					source(src='./Videos/Drunk_Cherry.mp4', type='video/mp4')
					source(src='./Videos/Cake_Drunk_Cherry.webm', type='video/webm')
					| Ваш браузер не поддерживает данный формат видеозаписи.
			.video_lesson_theory
				.itcss
					.itcss__wrapper
						.itcss__items
							.itcss__item
								p.itcss__item__title Приготовление
								ul
									li Разогрейте духовку до 180 °С. Круглую форму диаметром 23 см застелите пергаментной бумагой.
									li Муку просейте с какао-порошком и смешайте с разрыхлителем.
									li Отделите желтки от белков. Последние взбейте миксером до мягких пиков.
									li Продолжая взбивать, постепенно всыпьте к белкам сахар и поочерёдно добавьте желтки.
							.itcss__item
								p.itcss__item__title Приготовление
								ul
									li(value="5") Частями всыпьте в миску сухие   ингредиенты к яичной массе, быстро перемешивайте всё лопаткой до однородности.
									li Вылейте тесто в подготовленную форму. Выпекайте бисквит 35–40 минут до готовности.
									li Вишню залейте вином и уберите в холодильник на 40–60 минут. Бисквит достаньте из формы и полностью остудите.
							.itcss__item
								p.itcss__item__title Приготовление
								ul
									li(value="8") Срежьте с верха бисквита корж толщиной 1 см. Из большей части бисквита достаньте мякиш, оставляя дно и борта толщиной 1 см. Удалённый бисквит измельчите в крошку.
									li Размягчённое сливочное масло взбейте миксером в светлую пышную массу. Добавьте сгущённое молоко и взбивайте ещё 2–3 минуты до однородности. Крем уберите в холодильник на 10–15 минут.
							.itcss__item
								p.itcss__item__title Приготовление
								ul
									li(value="10") Слейте и сохраните жидкость от вишни. Пропитайте ею дно и борта бисквита.
									li Отложите треть крема. Оставшийся тщательно смешайте с вишней и крошками. Наполните полностью получившейся массой бисквит.
									li Накройте торт срезанной верхушкой бисквита, пропитайте её соком от вишни.
									li Смажьте верх и бока торта отложенным кремом, украсьте его
								// Стрелки для перехода к предыдущему и следующему слайду
								a.itcss__control.itcss__control_prev(href='#' role='button' data-slide='prev')
								a.itcss__control.itcss__control_next(href='#' role='button' data-slide='next')