.koguvcavis-varazdel#reviews
			.sestim-donials
				.zamas
					h1 Отзывы
				.sectionesag
				.sagestim-lonials
					.vemotau-vokusipol
						.testimonial
							.ramka
								img(src='./Images/Lisa.png' alt='Liza')
							.gecedanam Lisa
							.apogered-gselected
								i.fas.fa-star
								i.fas.fa-star
								i.fas.fa-star
								i.fas.fa-star
								i.fas.fa-star
							p Я купила торт в вашем магазине и была очень довольна качеством.
							p Торт был свежим, вкусным, начинка красный бархат, просто нежнейшие прослойки крема чиз, бисквиты пропитанные, кайф.
					.vemotau-vokusipol
						.testimonial
							.ramka
								img(src='./Images/Anton.png' alt='Anton')
							.gecedanam Timur
							.apogered-gselected
								i.fas.fa-star
								i.fas.fa-star
								i.fas.fa-star
								i.far.fa-star
								i.far.fa-star
							p Месяц назад заказывал чизкейк в Москве на 8 марта. Заплатил онлайн. Все сделали и привезли во время, класс.
					.vemotau-vokusipol
						.testimonial
							.ramka
								img(src='./Images/Shahlo.png' alt='Shahlo')
							.gecedanam Shahlo
							.apogered-gselected
								i.fas.fa-star
								i.fas.fa-star
								i.fas.fa-star
								i.fas.fa-star
								i.far.fa-star
							p Невероятно вкусный и красивый тортик, спасибо вам большое. Заказывали бенто торт в Москве. Красивый, сочный, бисквиты пропитаны.